
#fullsite-bar
{
	text-align: right;
}

#site-logo
{
	height: 59px;
	text-align: center;
}

#site-logo img
{
	margin-top: 7px;
}

#loginCredentials {
	/*background-image:url('../img/background_gradient_blue.png') ;*/
	height:178px;
	text-align:center;
}

.info {
	color: 	#666 ;
	font-size : 12px;
	line-height : 70%;
	text-align : center;
	font-family:MyriadPro-SemiboldIt;
	margin: 8px;
}

.help {
	color: 	#0479BF ;
	  text-decoration: none;
	font-size : 13px;
	text-align : center;
	font-family:MyriadPro-Semibold;
	margin: 14px;
	line-height : 50%;
	text-align:center;
}

.bgGradient
{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3099C6 ), to( #1B6CA3 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#3099C6 , #1B6CA3); /* Chrome 10+, Saf5.1+ */
	background-image:         linear-gradient(#3099C6 , #1B6CA3);	
}

.mainContent
{	
	height : 62px;
	margin: 0;
	background-image:url('../img/home_bg_topcontentarea.png');
	float:center;
}

#topBar
{	
	height : 40px;
	margin: 0;
/*	border: 1px solid  #01649E /*{c-bup-border}*/;
	text-align:center;
}

#topBar img
{
	margin-top: 7px;
}

.logout
{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

#container { display: table;  margin :0px;  padding : 0px; }
#row { display: table-row; }
#left, #right, #middle { display: table-cell; }

.width100
{
	width:100%;
}

.imgStyle1 {
	padding : 8px 0px 8px 8px;
	vertical-align: middle;
	width : 10%
}


.width10
{
	width : 10%
}

.userInfoBG
{	
	height : 62px;
	margin: 0;
	/*background-image:url('../img/home_bg_topcontentarea.png');*/
	float:center;
}

.notifications
{	
	/*background :url('../img/notifications_icon_novalue_extended.png') no-repeat right;*/
	background :url('../img/iconEnvelopeIndicator.png') no-repeat right;
}
.notificationText
{
	color: 	#FFF !important;
	font-size :14px;
	text-align : right;
	font-family:MyriadPro-Bold;
	/*padding : 0px 4px 10px 0px;
	line-height:100%;*/
}
.padding2
{
	padding: 0 0 2px 0;
}
a.no_bottomline
{
   	text-decoration: none;

}
.textRight
{
	text-align:right;
	padding : 4px 8px 0px 0px;
}
.textCenter
{
	text-align:center;
	padding : 4px 8px 0px 0px;
}

.planName
{
	/*color: 	#757575 ;*/
	font-size : 15px;
	line-height : 70%;
	text-align : left;
	font-family:MyriadPro-Bold;
	padding : 8px 0px 0px 8px;
}

.userName
{
	color: 	#067FC5 ;
	font-size : 21px;
	line-height : 70%;
	text-align : left;
	font-family:MyriadPro-SemiBold;
	padding:  8px 0px 0px 8px;
}
 
.userID
{
	color: 	#067FC5 ;
	font-size : 21px;
	line-height : 100%;
	text-align : right;
	font-family:MyriadPro-SemiBold;
	padding: 8px;
}

.width100
{
	width:100%;
}
 
.PCPInfoBG
{	
	/*height : 170px;*/ /*original value*/
	height: 180px;
	margin: 0;
	/*background-image:url('../img/home_bg_bottomcontentarea.png');*/
	/*background: #f8f7eb;*/
	float: center;
	/*text-align:center;*/
}



.padding20
{
	padding:10px;
}

.mpsb12
{
	color: 	#595959 ;
	font-size : 12px;
	text-align : left;
	font-family:MyriadPro-SemiBold;
	padding: 5px 0px 0px 14px;
}

.mpr12
{
	color: 	#595959 ;
	font-size : 12px;
	text-align : left;
	font-family:MyriadPro-Regular;
	padding: 5px 0px 0px 14px;
}
.mpr12Right
{
	color: 	#595959 ;
	font-size : 12px;
	text-align : left;
	font-family:MyriadPro-Regular;
	padding: 5px 14px 0px 14px;
}


.mpsb15
{
	color: 	#595959 ;
	font-size : 13px;
	text-align : left;
	font-family:MyriadPro-SemiBold;
	padding: 14px 0px 0px 14px;
}


.rotate-page {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}

#notificationCheckbox
{
	margin-left: 14px;
	margin-right: 14px;
}