<style>.text40 {font: bold 16px 'Times New Roman', 'Times New Roman', serif; line-height: 19px }.text43 {font: 13px 'Times New Roman', 'Times New Roman', serif; line-height: 15px }p { margin-top: 0; margin-bottom: 0 }table { border-collapse: collapse; border-spacing: 0 }tr { vertical-align : top }.linktext {font: 16px 'Times New Roman', sans-serif, serif }body { margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; word-wrap: break-word }
        div[id='16895']>div[style]
        {
        /*width: 504px !important;*/
            /*width: 310px !important;*/
        height: auto !important;
        }
        div[id='16895'] colgroup>col:nth-child(1)
        {
            /*width: 140px !important;*/
        }
        div[id='16895'] colgroup>col:nth-child(2)
        {
            /*width: 170px !important;*/
        }
        div[id='16895'] span.mpr12
        {
            padding: 0px; !important;
            font-size: 13px !important;
        }

    span.mpsb15
    {
        font-size: 15px !important;
        padding-bottom: 5px !important;
    }
        div[id='16895'] td:nth-child(1)>p:nth-child(2)
        {
            display:none !important;
        }
    div[id='16895'] td:nth-child(1)>p
    {
        padding-right: 10px !important;
    }        
    div[id='16895'] td
        {
            padding: 0px !important;
        }
        div[id='16895'] p
        {
            -webkit-margin-before: 0px !important;
            -webkit-margin-after: 0px !important;
        }
      </style>


    <center><div style="width: 249; height: 32; overflow: hidden; id: textbox"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">CLAIM(S) SUMMARY AT A GLANCE</span></p></div><div id="16895"><div style="width: 404; height: 139"><table style="table-layout: fixed;"><col style="width: 217;"/><col style="width: 187;"/><tr style="height: 24"><td style="width:218; vertical-align: top; align: left; padding-top:0.052083in;padding-left:0.052083in;padding-right:0.052083in;padding-bottom:0.052083in ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">Provider</span><span class="text43" style="padding-left: 24"><!-- spacer --></span></p></td><td style="width:187; vertical-align: top; align: left; padding-top:0.052083in;padding-left:0.052083in;padding-right:0.052083in;padding-bottom:0.052083in ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">NTTData_Mobile</span></p></td></tr><tr style="height: 24"><td style="width:218; vertical-align: top; align: left; padding-top:0.052083in;padding-left:0.052083in;padding-right:0.052083in;padding-bottom:0.052083in ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">Service Date:</span></p></td><td style="width:187; vertical-align: top; align: left; padding-top:0.052083in;padding-left:0.052083in;padding-right:0.052083in;padding-bottom:0.052083in ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">June 27, 2012</span></p></td></tr><tr style="height: 24"><td style="width:217; vertical-align: top; align: left; ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;Patient Responsibility:</span></p><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;(Amount you paid or owe to provider)</span></p></td><td style="width:187; vertical-align: top; align: left; ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;$250.00</span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span><span class="text43" style="padding-left: 24"><!-- spacer --></span></p></td></tr><tr style="height: 24"><td style="width:217; vertical-align: middle; align: left; ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;Amount paid by the Plan:</span></p></td><td style="width:187; vertical-align: top; align: left; ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;$50.00</span></p></td></tr><tr style="height: 43"><td style="width:217; vertical-align: top; align: left; ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;Network Savings:</span></p><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">(Amount saved by using a network provider)</span></p></td><td style="width:187; vertical-align: top; align: left; ; id:tablecol"><p style="id: para;"><span class="text43" style="font-weight:normal;font-style:normal;white-space:normal;">&nbsp;$0.00</span></p></td></tr></table></div></div></center>

<div style="text-align: center;padding-top: 5px;margin-left: 10px; margin-right: 10px;"><input type="button" value="View Full EOB Details" onClick="showEOBDetails();"/></div>

    <script type="text/javascript">

      $("div>p>span.text43").addClass("mpsb15");
      $("div>p>span.text43").removeClass("text43");
      $("#16895 span.text43").addClass("mpr12");
      $("#16895 span.text43").removeClass("text43");

      //$("#16895").append('<div style="text-align: center;padding-top: 5px;"><p><span class="mpr12"><a href="javascript:showEOBDetails();">View Full EOB Details</a></span></p></div>');

    </script>