<style>.text40 {font: bold 16px 'Times New Roman', 'Times New Roman', serif; line-height: 19px }.text76 {font: 12px 'Times New Roman', 'Times New Roman', serif; line-height: 14px }p { margin-top: 0; margin-bottom: 0 }table { border-collapse: collapse; border-spacing: 0 }tr { vertical-align : top }.linktext {font: 16px 'Times New Roman', sans-serif, serif }body { margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; word-wrap: break-word }
      div[id='bodyLeft']>div[style]
      {
      background-color:inherit !important;
      }
      div[id='footer']>div[style]
      {
          /*display:none !important;*/
          width: 290px !important;
          padding: 0px !important;
      }
    div[id='footer'] span.mpsb15
    {
        padding: 0px !important;
        font-size: 11px !important;
    }
      div[id='bodyLeft']>div[style]
      {
          width: 155px !important;
      }
      div[id='bodyRight']>div[style]
      {
          width: 155px !important;
      }
      div[id='headerLeft']>div[style]
      {
        /*width: 250px !important;*/
      }
      div[id='headerLeft']
    {
        width: 60% !important;
    }
    div[id='headerRight']
    {
        width: 40% !important;
        text-align: left !important;
    }
      div[id='mainContent']
    {
        width:310px !important;
    }
    div[id='body'] span.mpr12
    {
        font-size: 11px !important;
        padding: 0px !important;
    }
    div[id='headerLeft'] span.mpsb15
    {
        font-size: 12px !important;
        padding: 0px !important;
    }
    </style>

    </head><body><div id="mainContent" align="center" style="text-align:center;width:404px;margin:0 auto;">
      <div id="header">
        <div id="headerLeft" style="float:left;width=75%"><div style="width: 241; height: 45; overflow: hidden; id: textbox"><p style="id: para;text-align: center; "><span class="text76" style="font-weight:normal;font-style:normal;white-space:normal;">Group No: 9213<br>Group: MCD<br>Benefit Effective Date: 12/12/12</span></p></div></div>
        <div id="headerRight" style="float:right;width:25%"><img style="width:48; height:48" src="img/barcode.gif"></div>
      </div>
      <div id="body">
        <div id="bodyRight" style="float:right;width:50%;text-align:left;"><div style="width: 96; height: 59; overflow: hidden; id: textbox"><p style="id: para;"><span class="text76" style="font-weight:normal;font-style:normal;white-space:normal;">Service Area::Alley</span></p><p style="id: para;"><span class="text76" style="line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;">Sex:</span><span class="text76" style="padding-left: 10"><!-- spacer --></span><span class="text76" style="line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;">M</span></p><p style="id: para;padding-top: 3; "><span class="text76" style="line-height:16.00px;font-weight:normal;font-style:normal;white-space:normal;">DOB:</span><span class="text76" style="padding-left: 2"><!-- spacer --></span><span class="text76" style="line-height:16.00px;font-weight:normal;font-style:normal;white-space:normal;">01/01/81</span></p></div></div>
        <div id="bodyLeft" style="float:left;width:50%;text-align:left;"><div style="width: 289; height: 84; overflow: hidden; background-color: #FFFFFF; id: textbox"><p style="id: para;"><span class="text76" style="color:#000000;font-weight:normal;font-style:normal;white-space:normal;">Member Name: Donnie Greene</span></p><p style="id: para;"><span class="text76" style="color:#000000;line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;">Member#:1600-01<br></span></p><p style="id: para;"></p><p style="id: para;"><span class="text76" style="color:#000000;line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;"><br>PCP Name: Alley</span></p><p style="id: para;"></p><p style="id: para;"><span class="text76" style="color:#000000;line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;"><br>PCP PH#: 502-897-2345</span></p><p style="id: para;"></p><p style="id: para;"><span class="text76" style="color:#000000;line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;"><br>PCP Effective Date :05/12/2012</span></p></div></div>
      </div>
      <div id="footer"><div style="width: 410; height: 36; overflow: hidden; id: textbox"><p style="id: para;"><span class="text76" style="font-weight:normal;font-style:normal;white-space:normal;">For Behavioral Health Service call Magellan Behavioral Health at 1-800-327-6934<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p style="id: para;text-align: center; padding-left: 31; "><span class="text76" style="line-height:9.00px;font-weight:normal;font-style:normal;white-space:normal;">&nbsp;Customer Service: 1-800-431-7798</span></p></div></div>
    </div>


<script type="text/javascript">

        $("#body>div>div>p>span.text76").addClass("mpr12");
        $("#body>div>div>p>span.text76").removeClass("text76");
        $("#headerLeft>div>p>span.text76").addClass("mpsb15");
        $("#headerLeft>div>p>span.text76").removeClass("text76");
        $("#footer>div>p>span.text76").addClass("mpsb15");
        $("#footer>div>p>span.text76").removeClass("text76");

        $('span.mpr12>br').remove();
        $('#footer>div>p>span.mpsb15>br').remove();

      </script>